{% extends 'base.html' %}

{% block content %}


<h1>About page</h1>

<p>Space Animals was created by Michael Figueroa, a long time fan and competetor in the Super Smash Bros Community. With love for the the series this site was created to talk about and discuss events and information about Super Smash Bros.</p>
<p>The name "Space Animal" is given to the smash fighters Fox McCloud, Falco Lombardi, and Wolf. All of these characters from Nintendo's Star Fox universe. They are arguably the most played characters in the Super Smash Bros series.</p>
<p>To many people, Super Smash Bros is a fun entertaining game series by Nintendo. There is cult following when it comes to the series, with the community growing with every new entry into the series. Many would say they love the game because it's simple to play, but difficult to master.</p>
{% endblock content %}