{% extends 'base.html' %}

{% block content %}

<h1>Homepage</h1> 

<p>Greetings! This is a fan blog site that posts information about the game series. We post news about upcoming titles, analysis from trailers, and also open discussions about information presented from Nintnedo Directs.</p>

{% endblock content %}
